<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rocket messenger</title>
    <link rel="stylesheet" type="text/css" href="../static/css/rocket_chat.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="icon" href="../static/favicon/rocket1.ico" type="image/x-icon" sizes="16x16">
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>
<body>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">프로필 변경</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" id="form_data" enctype="multipart/form-data">
                        <div class="image_upload">
                            <label for="image_upload">프로필 사진</label><br>
                            <input type="file" name='image_upload' id="image_upload">
                        </div>
                        <div class="user_name">
                            <label for="user_name">유저 이름</label><br>
                            <input type="text" name='user_name' id="user_name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary modal_close" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="setting_change" class="btn" data-bs-dismiss="modal" onclick="change_profile(event)">저장</button>
                </div>
            </div>
        </div>
    </div>
    <div id="setting_bar">
        <button type="button" class="setting_mypic"></button >
        <button type="button" class="setting_custom" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-cog"></i></button >
    </div>
    <div id="participants_bar">
        <!-- 참여자 -->
        <div class="participants_header">
            <div class="participants_icon"><i class="fas fa-user-friends"></i></div>
            <div class="participants_txt">참여자</div>
            <div class="participants_number"></div>
        </div>
        <div class="participants"></div>
        <!-- 참여채널 -->
        <div class="participants_header">
            <!-- <div class="participants_icon"><i class="fas fa-server"></i></i></div> -->
            <div class="participants_icon"><i class="fas fa-comments"></i></div>
            <div class="participants_txt">참여채널</div>
        </div>
    </div>
    <div id="chat_bar">
        <div id="chat_name">
            <div>메신저</div>
        </div>
        <div class="chatting_1">
            <div class="chat_back">
                <div class="chat_history"></div>
            </div>
            <div class="chat_whisper d-none">
                <select name="whisper" id="whisper" size="2">
    <!--                <option selected>귓속말</option>-->
                </select>
            </div>
            <div class="chat_editor">
                <textarea name="chat_input" id="chat_input_1" class="chat_input_1" placeholder="메시지를 입력해주세요" autofocus></textarea>
                <div class="chat_btns">
                    <div class="chat_each_btn">
                        <form action="" method="post" id="form_data" enctype="multipart/form-data">
                            <input type="file" name='btn_send_img' id="btn_send_img" class="d-none">
                            <button type="button" class="btn_send_img"><i class="far fa-image"></i></button>
                        </form>
                        <button type="button" class="btn_emoji"><i class="far fa-smile"></i></button>
                        <button type="button" class="btn_whisper"><i class="fas fa-at"></i></button>
                    </div>
                    <!-- <select name="mySelect" id="mySelect">
                    </select> -->
                    <button type="button" class="send_btn" onclick="send(event, mode=1)">보내기</button>
                </div>
            </div>
        </div>
        <div id="thred">
            <div class="thred_one">
                <button type="button" class="btn_mychat" onclick="btn_mychat()">나만의 채팅</button>
                <button type="button" class="btn_side_view" onclick="btn_side_view()">사이드뷰 사용</button>
            </div>
            <div class="thred_two d-none">
                <div class="thred_two_header">
                    <button>
                        <i class="fas fa-arrow-left" onclick="thred_choice()"></i>
                    </button>
                    <div class="thred_two_border"></div>
                </div>
                <div class="chatting_2">
                    <div class="chat_back">
                        <div class="chat_history"></div>
                    </div>
                    <div class="chat_editor">
                        <textarea name="chat_input" class="chat_input_2" placeholder="메시지를 입력해주세요" autofocus></textarea>
                        <div class="chat_btns">
                            <div class="chat_each_btn">
                                <button type="button"><i class="far fa-image"></i></button>
                                <button type="button"><i class="far fa-smile"></i></button>
                                <button type="button"><i class="fas fa-at"></i></button>
                            </div>
                            <button type="button" class="send_btn" onclick="send(event, 2)">보내기</button>
                        </div>
                    </div>
                </div>
                    <div class="side_view"></div>
            </div>
        </div>
    </div>
    <script>
        //이미지전송
        $('.btn_send_img').click(function(){$('input[name=btn_send_img]').trigger('click');});
        function btn_send_img(){

        }

        //이모티콘
        // $('.btn_emoji').click(function(){$('select[name=mySelect]').trigger('click');});
        // var mySelect = document.getElementById('mySelect')
        // var newOption;
        // var emojRange = [
        // [128513, 128591], [9986, 10160], [128640, 128704]
        // ];
        // //inside emojRange 2d array , define range arrays (start number,end number).
        // //1st array : Emoticons icons
        // //2nd range : Dingbats.
        // //3rd range : Transport and map symbols
        // for (var i = 0; i < emojRange.length; i++) {
        //     var range = emojRange[i];
        //     for (var x = range[0]; x < range[1]; x++) {
        //         newOption = document.createElement('option');
        //         newOption.value = x;
        //         newOption.innerHTML = "&#" + x + ";";
        //         mySelect.appendChild(newOption);
        //     }
        // }

        //오늘날짜와 시간 변수
        let new_date;
        let now_year;
        let now_month;
        let now_date;
        let now_hour;
        let now_minutes;
        let today_for_class;
        let today;
        let what_time;

        //오늘날짜 생성
        window.onload= stamp_today();
        function stamp_today(){
            new_date = new Date();
            now_year = new_date.getFullYear();
            now_month = new_date.getMonth()+1;
            now_date = new_date.getDate();
            today_for_class = now_year +'_'+ now_month +'_'+ now_date;
            today = `${now_year}년 ${now_month}월 ${now_date}일`;
        }
        //시간 생성
        function stamp_time(){
            new_date = new Date();
            now_hour = new_date.getHours();
            now_minutes = new_date.getMinutes();
            if(now_hour>=12){ //오후
                if((now_hour-12)>=10){
                    return what_time = `${now_hour-12}:${now_minutes}pm`;
                }else{
                    return what_time = `0${now_hour-12}:${now_minutes}pm`;
                }
            }
            else if(now_hour>=1){ //오전
                if(now_hour>=10){
                    return what_time = `${now_hour}:${now_minutes}am`;
                }else{
                    return what_time = `0${now_hour}:${now_minutes}am`;
                }
            }
            else{ //오전 12시
                return what_time = `${now_hour+12}:${now_minutes}am`;
            }
        }

        //thred 뒤로가기
        function thred_choice(){
            $('.thred_two').addClass('d-none');
            $('.thred_one').removeClass('d-none');
        }
        function btn_mychat (){
            $('.thred_two').removeClass('d-none');
            $('.thred_one').addClass('d-none');
        }
        function btn_side_view(){
            console.log('준비중 사이드뷰')
        }

        //귓속말
        let caret_whisper;
        let show_whisper_target;
        let select_whisper_id;
        $('.chat_input_1').on('keydown', show_whisper);
        $('.btn_whisper').on('click', add_whisper_text);
        function add_whisper_text(e){
            console.log($('.chat_input_1')[0].selectionStart);
            $('.chat_input_1').html('@');
            $('.chat_whisper').removeClass('d-none');
            caret_whisper = $('.chat_input_1')[0].selectionStart;
            show_whisper_target = document.getElementById('chat_input_1');
            $('#whisper').on('change', select_whisper);
        }
        function show_whisper(e){
            if($('#whisper')[0].length >= 2){
                if(e.shiftKey){
                    switch(e.code){
                        case 'Digit2':
                            $('.chat_whisper').removeClass('d-none');
                            $('#whisper').on('change', select_whisper);
                            caret_whisper = e.target.selectionStart;
                            show_whisper_target = e.target;
                            break;
                    }
                }
            }
            if(e.code == 'Backspace'){
                $('.chat_whisper').addClass('d-none');
            }
        }
        function select_whisper(e){
            $('.chat_whisper').addClass('d-none');
            console.log(show_whisper_target);
            console.log(caret_whisper);
            show_whisper_target.setRangeText(e.target.value + ' ', caret_whisper+1, caret_whisper+1, "end");
            show_whisper_target.focus();
            caret_whisper = '';
            show_whisper_target = '';
            select_whisper_id = e.target.value;
            socket.emit('whisper', e.target.value);
            // console.log($('#whisper')[0].selectedIndex);
            $('#whisper')[0].selectedIndex = -1;
        }

        //채팅입력시 '보내기' css활성화
        $('.chat_input_1').on('keyup', active_send_btn);
        $('.chat_input_2').on('keyup', active_send_btn)
        function active_send_btn(e){
        let chat_input_mode = e.target.className.charAt(11);
            if(e.target.value.trim() == ''){
                $(`.chatting_${chat_input_mode} > .chat_editor > .chat_btns > .send_btn`).removeClass('active_btn');
            }else{
                $(`.chatting_${chat_input_mode} > .chat_editor > .chat_btns > .send_btn`).addClass('active_btn');
            }
        }

        //채팅창 ctrl+Enter && 보내기 기능
        $('.chat_input_1').on('keydown', about_enter);
        $('.chat_input_2').on('keydown', about_enter);
        function about_enter(e){
            if(e.ctrlKey){
                switch(e.code){
                    case 'Enter':
                        let caret = e.target.selectionStart;
                        e.target.setRangeText("\n", caret, caret, "end");
                        break;
                }
            }else if(e.which === 13){
                if($(this).val().trim() == ''){
                    alert('메세지입력해줘');
                    e.preventDefault();
                    return;
                }
                else{
                    // console.log($(this)[0].parentNode.childNodes[3].children[0].children[0].id)
                    e.preventDefault();// 원래 enter key를 누르려던 것을 못하게한다.
                    if($(this)[0].parentNode.previousElementSibling.classList[0] == 'chat_whisper'){
                        send(e, 1);
                    }else{
                        send(e, 2);
                    }
                }
            }
        }

        //채팅 보내기
        function send(e, mode){
            if($(`.chat_input_${mode}`).val().trim() == ''){
                alert('메세지입력해줘');
                e.preventDefault();
                return;
            }else{
                e.preventDefault();// 원래 enter key를 누르려던 것을 못하게한다.
                stamp_time();
                const msg_wrapper = document.createElement('div');
                const msg_profile_pic = document.createElement('div');
                const msg_content = document.createElement('div');
                const msg_nameNtime = document.createElement('div');
                const msg_name = document.createElement('div');
                const msg_time = document.createElement('div');
                const msg_txt = document.createElement('div');
                msg_wrapper.classList.add('my_msg');
                if(select_whisper_id != undefined){
                    //css적용을 위한 class 추가
                    msg_wrapper.classList.add('my_whisper');
                    select_whisper_id = undefined;
                }
                msg_profile_pic.classList.add('msg_profile_pic');
                //프로필 사진
                if(fs_rename != undefined){
                    msg_profile_pic.style.backgroundImage = `url(../${fs_rename})`;
                }else{
                    msg_profile_pic.style.backgroundColor = random_profile_color;
                    const msg_profile_pic_random_img = document.createElement('img');
                    msg_profile_pic_random_img.setAttribute('src', `../static/image/image (${random_profile_number}).png`);
                    msg_profile_pic.append(msg_profile_pic_random_img);
                }
                msg_content.classList.add('msg_content');
                msg_nameNtime.classList.add('msg_nameNtime');
                msg_txt.classList.add('msg_txt');
                msg_txt.innerText = $(`.chat_input_${mode}`).val();
                msg_name.innerText = userName;
                msg_time.innerText = what_time;
                msg_name.classList.add('msg_name');
                msg_name.classList.add(userName);
                msg_time.classList.add('msg_time');
                msg_nameNtime.append(msg_time);
                msg_nameNtime.append(msg_name);
                msg_content.append(msg_nameNtime, msg_txt);
                msg_wrapper.append(msg_profile_pic, msg_content);
                $(`.chatting_${mode} .chat_history`).append(msg_wrapper);
                socket.emit('send', {
                    msg: $(`.chat_input_${mode}`).val(),
                    user_name: userName,
                    random_profile_number: random_profile_number,
                    random_profile_color: random_profile_color,
                    what_time: what_time
                });
                $(`.chat_input_${mode}`).val('');
                $(`.chatting_${mode} .chat_back`).scrollTop($(`.chatting_${mode} .chat_history`).height());
                $(`.chat_input_${mode}`).focus();
                if($('#whisper').hasClass('d-none') == false){
                    $('.chat_whisper').addClass('d-none');
                }
            }
        }

        //프로필 변경
        $('input[name=user_name]').on('keydown', enter_profile);
        function enter_profile(e){
            if(e.which == 13){
                if($(this).val().trim() == '') {
                    console.log(e);
                    // alert('닉네임을 입력해줘');
                    e.preventDefault();
                }else{
                    // alert('닉네임 바꿀거야')
                    e.preventDefault();
                    change_profile();
                    $('.modal_close').trigger('click');
                }
            }
        }
        let fs_rename; //유저 업로드 프로필 사진명
        //프로필 저장 버튼 누르면 실행
        function change_profile(e){
            // console.log(e);
            if($('input[name=user_name]').val().trim() == ''){
                alert('닉네임을 입력해줘');
                e.preventDefault();
            }else{
                socket.emit('change_profile', {
                    user_name: $('input[name=user_name]').val(),
                    socket_id: socketId,
                });
            }
            change_profile_pic();
        }
        //유저가 이미지 업로드시 실행
        function change_profile_pic(){
            if($('#image_upload').val() != ''){
                let form_data;
                form_data = new FormData($('#form_data')[0]);
                form_data.append('socket_id', socketId);
                $.ajax({
                    type: 'POST',
                    url: '/file_upload',
                    data: form_data,
                    enctype: 'multipart/form-data',
                    processData:false,
                    contentType:false,
                    success: function(data){
                        alert('성공: ');
                        fs_rename = data;
                        console.log(fs_rename);
                        $('.setting_mypic, .msg_profile_pic').css({'background-image': `url(../${fs_rename})`});
                        $('.setting_mypic img, .msg_profile_pic img').addClass('d-none');
                    },
                    error: function(err){
                        alert('실패: ' + err.statusText);
                        console.log(err);
                    }
                });
            }
        }
        //소켓
        const socket = io.connect(); //서버와 소켓을 생성한다.
        let socketId;
        let userName;
        let random_profile_number;
        let random_profile_color;

        socket.on('connect', function(data){
            // $('.chat_history').append("<p class='sys'>" + socket.id + " 입장 </p>");
        })

        socket.on('save_info', (data)=>{
            socketId = data.socket_id;
            // console.log(`메세지 보낸사람은 ${data} 나의 아이디는 ${data}`);
            random_profile_number = data.new_user.random_profile_num;
            random_profile_color = data.new_user.random_rgb;
            userName = data.new_user.user_name;

            //랜덤 프로필 사진
            // console.log(random_profile_number);
            $('.setting_mypic').empty();
            $('.setting_mypic').append(`<img src="../static/image/image (${random_profile_number}).png">`);

            //랜덤 프로필 색상
            $('.setting_mypic').css({'background-color': random_profile_color});

            //프로필 닉네임 변경창
            $('#user_name').val(userName);
        });

        socket.on('enter', (data)=>{
            // 오늘날짜 생성
            console.log($(`.${today_for_class}`)[0]);
            console.log(today_for_class);
            if($(`.${today_for_class}`)[0] == undefined){
                stamp_today();
                $('.chatting_1 .chat_history').append(`<p class='sys_date ${today_for_class}'>${today}</p>`);
            }

            //입장 메세지
            $('.chatting_1 .chat_history').append(`<p class='sys'> ${data.socket_id} 님 입장하셨습니다. </p>`);
            $('.chatting_1 .chat_back').scrollTop($('.chat_history').height());

            //참여자 목록과 인원 && 귓속말 목록
            $('.participants').empty();
            $('.whisper_op').remove();
            for(let key in data.user_list){
                $('.participants').append(`<div class='participants_name, ${data.user_list[key].user_name}'> ${data.user_list[key].user_name} </div>`);
                if(socketId != data.user_list[key].id) {
                    $('#whisper').append(`<option class='whisper_op ${data.user_list[key].user_name}' value="${data.user_list[key].user_name}"> ${data.user_list[key].user_name} </option>`);
                }
                $('.participants_number').text(data.user_list.length + '명');
            }
        });

        socket.on('new_msg', (data)=>{
            // console.log(`메세지 보낸사람은 ${data.socket_id} 나의 아이디는 ${socketId}`)
            // 오늘날짜 생성
            if($(`.${today_for_class}`)[0] == undefined){
                stamp_today();
                $('.chatting_1 .chat_history').append(`<p class='sys_date ${today_for_class}'>${today}</p>`);
            }
            const msg_wrapper = document.createElement('div');
            const msg_profile_pic = document.createElement('div');
            const msg_content = document.createElement('div');
            const msg_nameNtime = document.createElement('div');
            const msg_name = document.createElement('div');
            const msg_time = document.createElement('div');
            const msg_txt = document.createElement('div');
            //귓속말일때
            if(data.whisper != undefined){
                if(data.whisper == userName){
                    msg_wrapper.classList.add('whisper_msg');
                    msg_profile_pic.classList.add('msg_profile_pic');
                    //상대방 프로필 사진
                    if(fs_rename != undefined){ //유저가 로컬파일 업로드했으면.
                        msg_profile_pic.style.backgroundImage = `url(../${fs_rename})`;
                    }else{
                        msg_profile_pic.style.backgroundColor = data.user_info.random_profile_color;
                        const msg_profile_pic_random_img = document.createElement('img');
                        msg_profile_pic_random_img.setAttribute('src', `../static/image/image (${data.user_info.random_profile_number}).png`);
                        msg_profile_pic.append(msg_profile_pic_random_img);
                    }
                    msg_content.classList.add('msg_content');
                    msg_nameNtime.classList.add('msg_nameNtime');
                    msg_txt.classList.add('msg_txt');
                    msg_name.innerText = data.user_info.user_name;
                    msg_time.innerText = data.user_info.what_time;
                    msg_name.classList.add('msg_name');
                    msg_name.classList.add(data.user_info.user_name);
                    msg_time.classList.add('msg_time');
                    msg_txt.innerText = data.user_info.msg;
                    msg_nameNtime.append(msg_name, msg_time);
                    msg_content.append(msg_nameNtime, msg_txt);
                    msg_wrapper.append(msg_profile_pic, msg_content);
                    $('.chatting_1 .chat_history').append(msg_wrapper);
                    $('.chatting_1 .chat_back').scrollTop($('.chat_history').height());
                }
            }else{
                //귓속말 아닐때
                if(data.socket_id != socketId){
                    msg_wrapper.classList.add('new_msg');
                    msg_profile_pic.classList.add('msg_profile_pic');
                    //상대방 프로필 사진
                    if(data.user_info.random_profile_number != undefined ){
                        if(fs_rename != undefined){//유저가 로컬파일 업로드했으면.
                            msg_profile_pic.style.backgroundImage = `url(../${fs_rename})`;
                        }else{
                            msg_profile_pic.style.backgroundColor = data.user_info.random_profile_color;
                            const msg_profile_pic_random_img = document.createElement('img');
                            msg_profile_pic_random_img.setAttribute('src', `../static/image/image (${data.user_info.random_profile_number}).png`);
                            msg_profile_pic.append(msg_profile_pic_random_img);
                        }
                    }
                    msg_content.classList.add('msg_content');
                    msg_nameNtime.classList.add('msg_nameNtime');
                    msg_txt.classList.add('msg_txt');
                    msg_name.innerText = data.user_info.user_name;
                    msg_time.innerText = data.user_info.what_time;
                    msg_name.classList.add('msg_name');
                    msg_name.classList.add(data.user_info.user_name);
                    msg_time.classList.add('msg_time');
                    msg_txt.innerText = data.user_info.msg;
                    msg_nameNtime.append(msg_name, msg_time);
                    msg_content.append(msg_nameNtime, msg_txt);
                    msg_wrapper.append(msg_profile_pic, msg_content);
                    $('.chatting_1 .chat_history').append(msg_wrapper);
                    $('.chatting_1 .chat_back').scrollTop($('.chat_history').height());
                }
            }
        });

        //유저닉네임 변경: 본인적용
        socket.on('change_user_name', (data)=>{
            userName = data.profile.user_name;
        });

        //유저닉네임 변경: 모두적용
        socket.on('change_profile', (data)=>{
            console.log(data.before_user_name, data.profile.user_name);
            // console.log($(`.${data.before_user_name}`));
            if(data.before_user_name != data.profile.user_name){
                $('#user_name').val(data.profile.user_name);
                $(`.${data.before_user_name}`).text(data.profile.user_name);
                $(`.${data.before_user_name}`).val(data.profile.user_name);
                $(`.${data.before_user_name}`).switchClass(data.before_user_name, data.profile.user_name);
            }
        });

        socket.on('exit', (data)=>{
            // 오늘날짜 생성
            if($(`.${today_for_class}`)[0] == undefined){
                stamp_today();
                $('.chatting_1 .chat_history').append(`<p class='sys_date ${today_for_class}'>${today}</p>`);
            }

            $('.chatting_1 .chat_history').append(`<p class='sys'> ${data.socket_id} 님 퇴장하셨습니다. </p>`);
            $('.chatting_1 .chat_back').scrollTop($('.chat_history').height());

            //퇴장시 참여자 목록과 인원 && 귓속말
            $('.participants').empty();
            $('.whisper_op').remove();
            for(let key in data.user_list){
                // console.log(data.user_list[key]);
                $('.participants').append(`<div class='participants_name'> ${data.user_list[key].id} </div>`);
                $('.participants_number').text(data.user_list.length + '명');
                if(socketId != data.user_list[key].id){
                    $('#whisper').append(`<option class='whisper_op' value="${data.user_list[key].id}"> ${data.user_list[key].id} </option>`);
                }
            }
        });
    </script>
</body>
</html>