<form action="" method="post" enctype="multipart/form-data">
    <input type="file" name="profile_pic">
    <button type="submit">프로필 사진 변경</button>
</form>
<script>
    socket.emit('chatting_setting', 'socketid');
</script>