:root {
  --color-far_deeper: #8b8b8b;
  --color-deeper: #aaaaaa;
  --color-deep: #ececec;
  --color-light: #f2f2f3;
  --color-white: #ffffff;
  --color-border: #d0d0d3;
  --margin-2: 2px;
  --font-10: 10px;
  --padding-10: 10px;
  --profile-pic-40: 40px;
  /*--vh: 100%;*/
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* button */
::-webkit-scrollbar-button {
  background: transparent;
}
button{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}
button:focus{
  outline: none;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(73, 80, 99, 1);
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
body{
  display: grid;
  grid-template-rows: 60px auto;
}
.content1{
  padding: var(--padding-10);
  display: flex;
  align-items: end;
  justify-content: space-between;
  box-shadow: 1px 1px 10px rgba(64,69,88,0.5);
  z-index: 10;
  background: rgb(34,48,60);
  background: linear-gradient(161deg, rgba(34,48,60,1) 0%, rgb(43 59 74) 100%);
}
.content1 .content1_left {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.content1 .content1_left .logo {
  width: 40px;
}
.content1 .content1_left .fa-rocketchat {
  color: rgb(47 247 209);
  font-size: 25px;
  transform: rotate(330deg);
}
.content1 .content1_left .content1_name {
  /*color: var(--color-far_deeper);*/
  font-size: 22px;
  font-weight: bold;
  margin-left: 10px;
  color: rgb(47 247 209);
  /*background: rgb(128,221,203);*/
  /*background: linear-gradient(*/
  /*        161deg, rgba(128,221,203,1) 0%, rgba(118,190,176,1) 94%);*/
  /*-webkit-background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/
}
.content1 .content1_dev{
  color: var(--color-deeper);
  font-size: 12px;
  /*font-weight: bold;*/
}
.content2 {
  display: grid;
  grid-template-columns: 68px 250px auto;
}
#setting_bar {
  height: 100%;
  padding: var(--padding-10);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(34,48,60);
  background: linear-gradient(161deg, rgba(34,48,60,1) 0%, rgb(43 59 74) 100%);
}
#setting_bar > * {
  margin-top: calc(4px + var(--padding-10));
  width: var(--profile-pic-40);
  height: var(--profile-pic-40);
  border-radius: 40%;
  border: none;
  outline: none;
}
#setting_bar .setting_mypic {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #fff;
  cursor: default;
}
#setting_bar .setting_mypic > img{
  width: 27px;
  height: 27px;
}
#setting_bar > .setting_custom, .setting_hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: 24px;
  color: var(--color-far_deeper);
  transition: 0.5s;
}
#setting_bar > .setting_custom:hover, .setting_hamburger:hover {
  /*color: white;*/
  color: #76beb0;
}
#setting_bar .setting_mypic:hover:after {
  content: '현재 프로필 사진';
  top: 73px;
  left: 68px;
}
#setting_bar > .setting_custom:hover:after {
  content: '프로필 변경';
  top: 127px;
  left: 68px;
}
#setting_bar .setting_mypic:hover:after,
#setting_bar > .setting_custom:hover:after {
  position: absolute;
  z-index: 1;
  margin: calc(2px + var(--padding-10)) 0;
  padding: 10px;
  background-color: var(--color-white);
  color: var(--color-far_deeper);
  font-size: 12px;
  font-weight: bold;
  box-shadow: 1px 3px 10px rgb(64 69 88 / 50%);
  border-radius: 5px;
}
#setting_change {
  background: rgb(128,221,203);
  background: linear-gradient(161deg, rgba(128,221,203,1) 0%, rgba(118,190,176,1) 94%);
  color: white;
  font-weight: bold;
}
#setting_change:hover {
  background: rgb(128,221,203);
  background: linear-gradient(161deg, rgb(111 190 175) 0%, rgb(108 174 161) 94%);
}
.m_content1 {
  display: none;
}
#second_bar {
  /* background: linear-gradient(90deg, #5c657b 0%, #586179 65%); */
  height: calc(100vh - 60px);
  color: var(--color-border);
  /*   position: relative; */
  background: rgb(44,57,71);
  background: linear-gradient(176deg, rgb(54 69 86) 0%, rgba(55,71,88,1) 100%);
}
#second_bar .btn_mychat{
  width: calc(100% - 40px);
  margin: 0 20px;
  margin-top: 24px;
  padding: var(--padding-10);
  background-color: #76beb0;
  color: white;
  border-radius: 50px;
  /*   position: relative; */
  border: none;
  transition: 0.5s;
}
#second_bar .btn_mychat:hover{
  color: #fff;
  background: #5f9c91b5;
  /*background: linear-gradient(161deg, rgb(111 190 175) 0%, rgb(108 174 161) 94%);*/
}
/* #second_bar .btn_mychat:hover:before{
  border-bottom: 10px solid var(--color-white);
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: '';
  position: absolute;
  top: 38px;
  left: 135px;
  z-index: 2;
} */
#second_bar .btn_mychat:hover:after{
  content: '메모할 수 있어요!';
  position: absolute;
  top: 73px;
  left: 318px;
  z-index: 3;
  margin: calc(2px + var(--padding-10)) 0;
  padding: 10px;
  background-color: var(--color-white);
  color: var(--color-far_deeper);
  box-shadow: 1px 3px 10px rgb(64 69 88 / 50%);
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  border-radius: 5px;
}
#second_bar .memo_list {
  /*background-color: white;*/
  height: calc(100vh - 60px);
}
#second_bar .memo_list_header {
  height: 64px;
}
.memo_list_header button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 18px;
  right: 20px;
}
.memo_list_header button *,
.memo_list_footer i {
  vertical-align: middle;
  font-size: 20px;
  color: var(--color-deeper);
  transition: 0.3s;
  cursor: pointer;
}
.memo_list_header button *:hover,
.memo_list_footer i:hover {
  color: #76beb0;
}
.memo_list_body {
  height: calc(100vh - 194px);
  border-top: 1px solid var(--color-deeper);
  border-bottom: 1px solid var(--color-deeper);
  overflow-y: auto;
}
.memo_list_body .write_memo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 196px);
}
.memo_list_body .write_memo_i{
  font-size: 40px;
}
.memo_list_body .memo_wrap {
  position: relative;
}
.memo_list_body .memo_wrap .memo {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  outline: none;
  border: none;
  background: transparent;
}
.memo_list_body .memo_wrap .memo .memo_btn {
  padding: 0 13px;
  width: 84%;
  height: 80px;
  border-bottom: 1px solid var(--color-deeper);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.memo_list_body .memo_wrap .memo:hover {
  background: linear-gradient(176deg, rgb(66 82 100) 0%, rgb(63 81 98) 100%);
}
.memo_list_body .memo_wrap .memo:focus {
  box-shadow: 0 10px 20px 0px rgba(45,50,65,0.5);
  z-index: 2;
}
.memo_list_body .memo_wrap .memo:focus .memo_btn{
  border: none;
}
.memo_list_body .memo_wrap .memo .memo_title {
  width: 84%;
  height: 25px;
  color: white;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.memo_list_body .memo_wrap .memo .memo_time {
  color: var(--color-deeper);
  font-size: 14px;
}
.memo_list_body .memo_wrap .del_memo{
  display: none;
  color:  var(--color-deeper);
  font-size: 16px;
  position: absolute;
  top: 20px;
  right: 33px;
  transition: 0.3s;
  cursor: pointer;
}
.memo_list_body .memo_wrap:hover .del_memo {
  display: block;
}
.memo_list_body .memo_wrap .del_memo:hover {
  color: #76beb0;
}
.memo_list_body .memo_wrap .del_memo:hover .memo{
  background: linear-gradient(176deg, rgb(66 82 100) 0%, rgb(63 81 98) 100%);
}
.memo_list .memo_list_footer {
  width: 100%;
  height: 70px;
  line-height: 70px;
  color: white;
  text-align: center;
}
.memo_textarea {
  height: calc(100vh - 60px);
}
.memo_textarea .memo_list_header{
  background-color: white;
}
.memo_textarea .memo_each {
  height: calc(100vh - 124px);
  padding: 15px;
  background-color: white;
}
.memo_textarea .memo_each > * {
  width: 100%;
  height: 100%;
  border: none;
  overflow-y: auto;
  resize: none;
}
.memo_textarea .memo_each > *:focus {
  outline: none;
}
.participants_bar {
  padding: var(--padding-10);
}
.participants_bar .participants_header {
  display: flex;
  margin: var(--padding-10) 0;
  padding: 0 var(--padding-10);
}
.participants_bar .participants_header > * {
  color: var(--color-light);
  font-size: 1rem;
  font-weight: bold;
  margin: calc(2px + var(--margin-2));
}
.participants_bar .participants {
  height: 300px;
  overflow-y: auto;
}
.participants_bar .participants_name{
  display: flex;
  align-items: center;
  padding: 6px;
  transition: 0.5s;
  border-radius: 10px;
}
.participants_bar .participants_name:hover {
  background-color: rgba(73, 80, 99, 1);
  border-radius: 10px;
  padding: 6px 0;
}
.participants_bar .participants_name > * {
  margin: 0 4px;
}

.participants_bar .participants .participants_user_pic{
  background-size: cover;
  background-position: center;
  width: calc(var(--profile-pic-40) - 10px);
  height: calc(var(--profile-pic-40) - 10px);
  border-radius: 40%;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.participants_bar .participants .participants_user_pic > img{
  width: 20px;
  height: 20px;
}
.participants_bar .participants_me {
  background-color: #76beb0;
  color: white;
  border-radius: 50px;
  width: 40px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 17px;
}
.participants_bar .participants_user_name{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 124px;
}
#chat_bar {
  background-color: var(--color-light);
  width: 100%;
  height: 100%;
  grid-template-rows: 70px 1fr;
  box-shadow: -10px 10px 10px rgba(73, 80, 99, 0.5);
  z-index: 2;
}
#chat_name {
  padding: var(--padding-10);
  height: 50px;
}
#chat_name .elapse_time {
  color: var(--color-deeper);
  transition: 0.5ms;
}
#chat_name .elapse_time.elapse_opacity {
  opacity: 0;
  /*transition: 0.5ms;*/
}
.chatting_1{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 110px);
}
.chat_back {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.chat_history {
  padding: var(--padding-10) 50px;
  padding-top: 0;
}
.sys,
.sys_date {
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
  color: var(--color-deeper);
  overflow: hidden;
  margin: 16px 0;
}
/* .sys_date:before,
.sys_date:after {
  background-color: var(--color-light);
  content: '';
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.sys_date:before {
  right: 0.5em;
  margin-left: -50%;
}

.sys_date:after {
  left: 0.5em;
  margin-right: -50%;
} */
.my_msg {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: right;
  /* width: 100%; */
  margin: calc(var(--margin-2) + 10px) 0;
}
.my_whisper,
.whisper_msg {
  color: blue;
}
.whisper_msg,
.new_msg {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  margin: calc(var(--margin-2) + 10px) 0;
}
.msg_profile_pic {
  margin: 5px;
  width: var(--profile-pic-40);
  height: var(--profile-pic-40);
  background-size: cover;
  background-position: center;
  border-radius: 40%;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.msg_profile_pic > img{
  width: 30px;
  height: 30px;
}
.my_msg .msg_content {
  /*width: 90%;*/
  margin-right: 10px;
}
.my_msg .msg_txt {
  text-align: right;
  white-space: pre-wrap;
  padding: 10px;
  /*margin: 5px 0;*/
  min-width: 20px;
  max-width: 350px;
  word-wrap: break-word;
  background: rgb(128,221,203);
  background: linear-gradient(161deg, rgba(128,221,203,1) 0%, rgba(118,190,176,1) 94%);
  color: black;
  border-radius: 10px;
  display: inline-block;
  position: relative;
}
.my_msg .msg_txt:after {
  content: '';
  position: absolute;
  border: 0px solid transparent;
  border-right: 10px solid rgba(128,221,203,1);
  border-radius: 0 20px 0;
  width: 14px;
  height: 30px;
  transform: rotate(90deg);
  top: -5px;
  right: 0px;
  /*z-index: -1;*/
}
.my_msg .msg_nameNtime {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}
.my_msg:hover,
.whisper_msg:hover,
.new_msg:hover {
  background-color: var(--color-light);
}
.whisper_msg .msg_content,
.new_msg .msg_content {
  /*width: 90%;*/
  margin-left: 10px;
}
.whisper_msg .msg_txt,
.new_msg .msg_txt {
  text-align: left;
  white-space: pre-wrap;
  padding: 10px;
  /*margin: 5px 0;*/
  min-width: 20px;
  max-width: 350px;
  word-wrap: break-word;
  background: rgb(228,228,228);
  background: linear-gradient(140deg, rgba(228,228,228,1) 0%, rgba(215,215,215,1) 100%);
  color: black;
  border-radius: 10px;
  display: inline-block;
  position: relative;
}
.whisper_msg .msg_txt:after,
.new_msg .msg_txt:after {
  content: '';
  position: absolute;
  border: 0px solid transparent;
  border-top: 10px solid rgba(228,228,228,1);
  border-radius: 0 20px 0;
  width: 14px;
  height: 30px;
  transform: rotate(180deg);
  top: -10px;
  left: -10px;
}
.whisper_msg .msg_nameNtime,
.new_msg .msg_nameNtime {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.msg_nameNtime > * {
  margin: var(--margin-2);
}
.msg_nameNtime > .msg_name {
  font-weight: bolder;
}
.msg_nameNtime > .msg_time {
  font-size: var(--font-10);
  color: var(--color-deeper);
}
.chat_whisper{
  width: 85%;
  transition: 0.5s;
  /*padding: 0 10px;*/
}
.chat_whisper > #whisper{
  width: 100%;
  height: calc((22.6px * 2) + 40px);
  background-color: var(--color-light);
}
.chat_whisper > #whisper >.whisper_op{
  padding: var(--padding-10);
}
.chat_whisper > #whisper > .whisper_op:hover{
  width: 100%;
  background-color: var(--color-deeper);
}
.writing {
  display: flex;
  align-items: center;
  width: 85%;
  color: var(--color-deeper);
  transition: 0.3s;
}
.writing > *{
  margin-right: 5px;
}
.writing.writing_opacity {
  opacity: 0;
}
.writing .ball {
  background-color: var(--color-deeper);
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
.lds-ellipsis {
  display: flex;
  position: relative;
  width: 80px;
  height: 100%;
  align-items: center;
}
.lds-ellipsis div {
  position: absolute;
  /*animation-timing-function: cubic-bezier(0, 1, 1, 0);*/
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.chat_footer {
  width: 100%;
}
.chat_editor {
  display: flex;
  align-items: center;
  width: 85%;
  height: 60px;
  /*border: solid 1px var(--color-border);*/
  border-radius: 10px;
  padding: var(--padding-10);
  margin: var(--padding-10) auto;
  background-color: white;
  box-shadow: 1px 3px 10px #8b8b8b52;
  position: relative;
}
.chat_editor > * {
  margin: 0 6px;
}
.chat_input_1,
.chat_input_2{
  width: calc(100% - 88px);
  height: 80%;
  border: none;
  overflow-y: auto;
  resize: none; /*remove the resize handle on the bottom right*/
}
.chat_input_1:focus,
.chat_input_2:focus{
  outline: none;
}
.chat_editor .btn_whisper {
  background-color: transparent;
  border: none;
  color: var(--color-far_deeper);
  font-weight: bold;
  transition: 0.3s;
}
.chat_editor .btn_whisper:hover,
.chat_editor btn_send_img:hover {
  color: #76beb0;
}
.chat_editor .btn_whisper:hover:after {
  content: '귓속말';
  box-shadow: 1px 3px 10px rgb(64 69 88 / 50%);
  position: absolute;
  top: -40px;
  left: 0px;
  z-index: 2;
  margin: calc(2px + var(--padding-10)) 0;
  padding: 10px;
  background-color: var(--color-white);
  color: var(--color-far_deeper);
  font-size: 12px;
  font-weight: bold;
  box-shadow: 1px 3px 10px var(--color-far_deeper);
  border-radius: 5px;
}
.chat_editor .btn_whisper:hover:before {
  border-top: 5px solid var(--color-white);
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  content: '';
  position: absolute;
  z-index: 3;
  top: 10px;
  left: 18px;
}
.chat_editor .send_btn {
  background-color: var(--color-light);
  color: var(--color-deeper);
  border-radius: 3px;
  border: 1px solid var(--color-deep);
  width: 40px;
  height: 40px;
  transition: 0.5s;
}
.chat_editor .send_btn.active_btn {
  transition: 0.3s;
  /* background: rgb(177,123,224); */
  background: linear-gradient(140deg, rgba(177,123,224,1) 0%, rgba(146,67,214,1) 100%);
  color: white;
  background: rgb(128,221,203);
  background: linear-gradient(161deg, rgba(128,221,203,1) 0%, rgba(118,190,176,1) 94%);
}
#whisper {
  border: 1px solid var(--color-border);
  min-width: 205px;
  height: 30px;
}
@media screen and (max-width: 375px){
  #offcanvasRight{
    border: none;
  }
}
@media screen and (max-width: 768px){
  html, body {
    height: 100vh; /* 혹시나 Custom Property 지원 안하는 브라우저를 위한 복귀점(Fallback) */
    height: calc(var(--vh, 1vh) * 100);
  }
  .content1, #setting_bar .setting_mypic, #setting_bar .setting_custom, #second_bar{
    display: none;
  }
  .content2 {
    display: flex;
    flex-direction: column;
    /*width: 100%;*/
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }
  .content2 #setting_bar {
    width: 100%;
    height: 70px;
    position: relative;
    padding: 10px 20px;
  }
  .content2 #setting_bar > * {
    margin: 0;
    height: 50px;
    line-height: 50px;
  }
  .content2 #setting_bar .m_content1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: calc(50% - 109px);
  }
  .content2 #setting_bar .m_content1 .m_content1_left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .content2 #setting_bar .m_content1 .fa-rocketchat {
    color: rgb(47 247 209);
    text-align: center;
    color: #76beb0;
    transform: rotate(330deg);
  }
  .content2 #setting_bar .m_content1 .content1_name {
    font-size: 20px;
    color: rgb(47 247 209);
    text-align: center;
    width: 200px;
    color: #76beb0;
  }
  .content2 #setting_bar .m_content1 .setting_hamburger {
    border: none;
  }
  .chatting_1 {
    height: calc((var(--vh, 1vh) * 100) - 120px);
  }
  .chat_footer {
    /*width: 100%;*/
    height: 70px;
    padding: 10px 20px;
    background-color: white;
  }
  .chat_footer .chat_editor {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    background-color: var(--color-light);
    box-shadow: none;
    border-radius: 50px;
    /*border: 1px solid rgb(47 247 209);*/
  }
  .chat_footer .chat_editor .chat_input_1 {
    background-color: var(--color-light);
    height: 30px;
  }

  .chat_footer .chat_editor .send_btn {
    background-color: transparent;
    border: none;
  }
  .chat_footer .chat_editor .send_btn,
  .chat_footer .chat_editor .active_btn {
    border-radius: 50%;
  }
  .offcanvas {
    background: rgb(44,57,71);
    background: linear-gradient(176deg, rgb(54 69 86) 0%, rgba(55,71,88,1) 100%);
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }
  #offcanvasRight > .offcanvas-body {
    padding: 0px;
    height: calc((var(--vh, 1vh) * 100) - 70px);
  }
  .offcanvas-body .btn_mychat {
    width: calc(100% - 40px);
    margin: 10px 20px;
    padding: var(--padding-10);
    background-color: #76beb0;
    color: white;
    border-radius: 50px;
    transition: 0.5s;
  }
  .offcanvas-body .btn_mychat:hover{
    color: #fff;
    background: #5f9c91b5;
  }
  .participants_user_name {
    color: var(--color-border);
  }
  #offcanvasRight > .offcanvas-body .offcanvas-body_header  {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #offcanvasRight > .offcanvas-body .offcanvas-body_header > * {
    color: var(--color-far_deeper);
    font-size: 25px;
  }
  #offcanvasRight > .offcanvas-body .offcanvas-body_header,
  #offcanvasRight > .offcanvas-body .memo_list_header {
    height: 70px;
  }
  #offcanvasRight > .offcanvas-body .memo_list_body {
    margin: 0;
    height: calc((var(--vh, 1vh) * 100) - 140px);
    border-top: 1px solid var(--color-deeper);
    border-bottom: 1px solid var(--color-deeper);
  }
  #offcanvasRight > .offcanvas-body .memo_list_body .write_memo {
    height: calc((var(--vh, 1vh) * 100) - 140px);
  }
  #offcanvasRight > .offcanvas-body .memo_list_footer {
    height: 70px;
    line-height: 70px;
  }
  .memo_textarea {
    height: calc((var(--vh, 1vh) * 100) - 70px);
  }
  .memo_textarea .memo_each {
    height: calc((var(--vh, 1vh) * 100) - 70px);
  }
}
@media screen and (min-width: 769px) {
  .m_hamburger_setting_bar, .setting_hamburger, .chat_name {
    display: none;
  }
}